<% content_for :title, "New Trip - Flip the Joy" %>

<h1>New Trip</h1>

<%= render 'form', trip: @trip %>
<div class="home-centered mb-3">
  <%= link_to 'Back to Trips', trips_path, class: "button-secondary" %>
</div>
