/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
/* Import trips styles */
@import "trips";

.trips-table {
    border-collapse: collapse;
    width: 100%;
}

.trips-table th,
.trips-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.trips-table th {
    background-color: #f9f9f9;
}

.flash {
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    /*text-align: left;*/
    margin-right: auto;
}

.flash-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.flash-danger {
    background-color: #f8d7da;
    color: #ac1a25;
    border: 1px solid #f5c6cb;
}

.flash-info {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #bee5eb;
}

.flash ul {
    list-style-type: disc;
    display: block;
    text-align: left;
    width: fit-content;
}

.badge-paid,
.badge-pending,
.badge-cancelled,
.badge-open,
.badge-closed,
.badge-past,
.badge-failed {
    display: inline-block;
    padding: 3px 8px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    margin-left: 5px;
    margin-bottom: 10px;
    border: 1px solid;
}

.badge-paid {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.badge-failed {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.badge-pending {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.badge-paid {
    background-color: #d4edda;
    color: #155724;
    padding: 3px 8px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.badge-cancelled {
    background-color: #f8d7da;
    color: #721c24;
    padding: 3px 8px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.badge-open {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.badge-closed {
    background-color: #f5c6cb;
    color: #ac1a25;
    border-color: #d6d8db;
}

.badge-past {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}
